@use "reset";

:root {
  --background: #eeeeee;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  word-break: keep-all;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}

// layout

.section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.active {
    opacity: 1;
  }
  &:not(:has(.projects-inner)) {
    @include m.layout-center;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - v.$nav-height);
    padding-block: v.$spacing-lg;
    opacity: 1;
  }
}

[class^="icon"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: v.$spacing-lg;
  background: center center / 40px auto no-repeat;
  background-color: v.$color-black;
  font-size: 0;
  text-indent: -9999px;
  transition: all 0.3s;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
.icon {
  &-email {
    background-image: url(/images/contact/contact-email.svg);
  }
  &-cell {
    background-image: url(/images/contact/contact-cell.svg);
  }
  &-github {
    background-image: url(/images/contact/contact-github.svg);
  }
}
