.inner {
  min-width: 0;
  padding-block: v.$spacing-xl;
}

.list {
  // display: flex;
  // list-style: none;
  // white-space: nowrap;
  // gap: v.$spacing-lg;
}

.item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  border-radius: 8px;
  background: v.$color-white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.img {
  height: 200px;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.info {
  padding: v.$spacing-lg;
}

.tit {
  font-weight: 700;
  font-size: 18px;
}
.desc {
  margin-top: v.$spacing-xs;
  font-weight: 400;
  font-size: 14px;
}

.detail {
  font-weight: 400;
  font-size: 14px;
  white-space: normal;
}

.btn {
  display: block;
  margin-top: v.$spacing-xl;
  margin-inline: auto;
  border: none;
  border-radius: 8px;
  padding: v.$spacing-sm v.$spacing-lg;
  background: v.$color-black;
  font-weight: 700;
  font-size: 14px;
  color: v.$color-white;
  transition: all 0.3s;
  &:hover,
  &:focus {
    background-color: v.$color-gray-500;
  }
}
