.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;

  visibility: hidden;
  transition: visibility 0s linear 0.3s;
}
.open {
  visibility: visible;
  transition-delay: 0s;

  .dim {
    opacity: 1;
  }

  .wrap {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.dim {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.7);
  opacity: 0;

  transition: opacity 0.3s ease;
}

.wrap {
  position: relative;
  z-index: 1;

  // width: min(900px, 100%);
  width: 90vw;
  max-height: 90vh;
  height: 90vh;

  overflow: hidden;
  border-radius: 16px;

  background: #fff;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);

  opacity: 0;
  transform: translateY(20px) scale(0.98);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 24px;
  border-bottom: 1px solid #eee;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border: 0;
  padding: 0;

  background: transparent;

  font-size: 30px;
  line-height: 1;

  cursor: pointer;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.5;
  }
}

.body {
  max-height: calc(90vh - 80px);
  overflow-y: auto;
  padding: 24px;
}

.content {
  display: flex;
  gap: v.$spacing-lg;
}
.img {
  flex: 0 0 40%;
  img {
    width: 100%;
    height: auto;
  }
}

.info {
  width: 100%;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px solid v.$color-black;
    font-size: 14px;
  }

  tr {
    border-bottom: 1px solid v.$color-gray-300;
  }

  th,
  td {
    padding: 16px 20px;
    text-align: left;
    vertical-align: top;
    line-height: 1.6;
  }

  th {
    width: 120px;
    background: v.$color-gray-900;
    font-weight: 700;
    white-space: nowrap;
  }
  .labelCol {
    width: 120px;
  }

  td {
    font-weight: 400;
    white-space: pre-line;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  span {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px 8px;
    background: v.$color-gray-100;
    font-size: 12px;
    font-weight: 600;
    color: v.$color-white;
  }
}

.detailList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 14px;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      font-weight: 700;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    padding: 16px;
  }

  .wrap {
    max-height: 90vh;
    border-radius: 12px;
  }

  .header {
    padding: 16px 20px;
  }

  .body {
    padding: 20px;
  }
}
